@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


//* reset //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
}

//* color variables //
$red: #EA5454; 
$teal: #44D3D2;
$orange: #FCAE4A;
$blue: #549EF2;
$black:  #4D4F62;


//* Styled components //

.container{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .intro_text{
        width: 100%;
        
        & p:first-of-type{
            font-size: 1.5rem;
            letter-spacing: 0.17px;
            margin-top: 15px;
            font-weight: 200;
        }

        & p:nth-child(2){
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.17px; 
            font-weight: 600;
        }

        & p:last-of-type{
            font-size: 0.9rem;
            margin: 20px auto;
            min-width: 270px;
            max-width: 540px; 
            font-weight: 400;
        }
    }

    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 30px auto 0px auto;

        .flex-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .box-1, .box-2, .box-3, .box-4{
            width: 311px;
            height: 222px;
            text-align: left;
            border-radius: 5px;
            margin: 15px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: 90% 90%;
            background-size: 40px;

            & h3, p{
                padding: 20px 0px 0px 20px;
            }
        }

        #supervisor{
            border-top: 4px solid $teal;
            background-image: url("./assets/images/icon-supervisor.svg");
        }
        #builder{
            border-top: 4px solid $red;
            background-image: url("./assets/images/icon-team-builder.svg");
        }
        #karma{
            border-top: 4px solid $orange;
            background-image: url("./assets/images/icon-karma.svg");
        }
        #calculator{
            border-top: 4px solid $blue;
            background-image: url("./assets/images/icon-calculator.svg");
        }
    }
}



@media (min-width: 850px){
    .container{
        .boxes{
            flex-direction: row;
        }
        .box-1, .box-2, .box-3, .box-4{
            width: 350px;
            height: 250px;
        }
    }
}